body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #000;
    margin: 0;
}

canvas {
    display: block;
}

#foreground {
    position: absolute;
    top: 12.5%;
    left: 0;
}

#content {
    position: relative;

    .form {
        background: rgba(#fff, 0.5);
        text-align: left;
        padding: 16px;
        position: absolute;
        bottom: 32px;
        left: 0;
        right: 0;
        margin: auto;
        width: 450px;

        .row {
            display: block;
            margin-bottom: 16px;
            overflow: hidden;

            &:last-child {
                margin-bottom: 0;
            }

            .label {
                float: left;
                width: 120px;
                font-weight: 700;
            }

            .field {
                width: 250px;
                float: left;
            }

            .play {
                margin-left: 16px;
                font-weight: 700;
                float: left;
            }
        }
    }
}
