body {
    background: #000000;
}

canvas {
    display: block;
}

.counter {
    background: #105CB6;
    position: absolute;
    top: 50px;
    width: 74px;
    padding: 3px;
    color: #0ff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9px;
    font-weight: bold;
}

#stats {
    position: absolute;
    top: 0;
    left: 0;
}
