body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000;
  margin: 0;
}

canvas {
  display: block;
}

#stats {
  position: absolute;
  top: 0;
  left: 0;
}

.counter {
  background: #105CB6;
  position: absolute;
  top: 50px;
  width: 74px;
  padding: 3px;
  color: #0ff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
}

#content {
  position: relative;
}

#foreground {
  position: absolute;
  top: 12.5%;
  left: 0;
}
