$color-primary: #303030;
$color-accent: #FFFF00;
$color-white: #FFFFFF;
$color-transparent: rgba(0, 0, 0, 0);

$color-body: #131313;
$color-navigation: #232323;
$color-text: rgba($color-white, 1.00);
$color-text-secondary: rgba($color-white, 0.70);

$font-size: 14px;
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-directory: '../assets/font/';
