@font-face {
  font-family: AndyBold;
  src: url("../assets/font/AndyBold/AndyBold.woff2") format("woff2"), url("../assets/font/AndyBold/AndyBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  background: url("../assets/image/common/background.png") repeat;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 20px;
  min-height: 100%;
  margin: 0; }

img {
  max-height: 100%;
  max-width: 100%;
  display: block; }

canvas {
  display: block; }

a {
  color: rgba(0, 0, 0, 0.87); }

b {
  font-weight: 500; }

strong {
  font-weight: 700; }

.main {
  padding: 50px 0 0; }
  .main .game-container {
    position: relative;
    margin: 0 auto;
    width: 1280px;
    height: 720px; }
    .main .game-container .game-canvas {
      cursor: url("../assets/image/common/hand.png"), auto; }
    .main .game-container .launcher {
      background: url("../assets/image/title/background.jpg");
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
      .main .game-container .launcher::after {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      .main .game-container .launcher.hidden {
        display: none; }
      .main .game-container .launcher .loading-indicator {
        background: url("../assets/image/launcher/progress_background.png");
        position: absolute;
        width: 256px;
        height: 256px;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1; }
        .main .game-container .launcher .loading-indicator .indicator-canvas {
          position: absolute;
          height: 256px;
          width: 256px; }
          .main .game-container .launcher .loading-indicator .indicator-canvas .indicator-progress {
            display: none; }
        .main .game-container .launcher .loading-indicator .indicator-overlay {
          background: url("../assets/image/launcher/progress_overlay.png");
          position: absolute;
          height: 256px;
          width: 256px; }
          .main .game-container .launcher .loading-indicator .indicator-overlay .indicator-text {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
            color: rgba(173, 173, 173, 0.8);
            border-radius: 128px;
            line-height: 256px;
            width: 256px;
            text-align: center;
            font-size: 55px;
            font-weight: 700;
            display: block;
            user-select: none;
            cursor: default; }
        .main .game-container .launcher .loading-indicator.finished .indicator-overlay .indicator-text {
          color: rgba(60, 169, 228, 0.8);
          cursor: pointer; }
          .main .game-container .launcher .loading-indicator.finished .indicator-overlay .indicator-text:hover {
            color: rgba(55, 152, 204, 0.8); }
          .main .game-container .launcher .loading-indicator.finished .indicator-overlay .indicator-text:active {
            color: rgba(48, 135, 179, 0.8); }
