* {
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%; }

body {
  font-size: 14px;
  color: white;
  font-weight: 400;
  background: #131313;
  background-size: cover;
  line-height: 20px;
  min-height: 100%;
  margin: 0; }

canvas {
  display: block; }

img {
  max-height: 100%;
  max-width: 100%;
  display: block; }

a {
  color: white; }

b {
  font-weight: 500; }

strong {
  font-weight: 700; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1; }

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1; }

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7); }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-button {
  width: 0;
  height: 0; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border: 0 none;
  border-radius: 0; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border: 0 none;
  border-radius: 0; }

::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.1); }

::-webkit-scrollbar-track:active {
  background: rgba(255, 255, 255, 0.1); }

::-webkit-scrollbar-corner {
  background: transparent; }

.page-wrap {
  min-width: 1120px;
  min-width: 80rem;
  -webkit-transition: transform 350ms ease;
  -moz-transition: transform 350ms ease;
  -ms-transition: transform 350ms ease;
  -o-transition: transform 350ms ease;
  transition: transform 350ms ease;
  padding-left: 320px;
  padding-left: 22.857143rem;
  width: 100%;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0; }
  .page-wrap .main {
    padding-top: 64px;
    padding-top: 4.571429rem;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    height: 100%; }
    .page-wrap .main .main-canvas {
      width: 800px;
      width: 57.142857rem;
      height: 600px;
      height: 42.857143rem;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0; }
      .page-wrap .main .main-canvas canvas {
        transform: translatez(0); }
  .page-wrap .navigation {
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
    width: 320px;
    width: 22.857143rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: #232323;
    position: absolute;
    overflow: visible;
    outline: none;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0; }
    .page-wrap .navigation .navigation-content {
      position: absolute;
      overflow: auto;
      width: 100%;
      bottom: 0;
      left: 0;
      top: 0; }
      .page-wrap .navigation .navigation-content .navigation-header {
        height: 64px;
        height: 4.571429rem;
        padding: 8px 16px;
        padding: 0.571429rem 1.142857rem;
        line-height: 48px;
        line-height: 3.428571rem;
        font-size: 20px;
        font-size: 1.428571rem;
        font-weight: 500;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
        cursor: default; }
      .page-wrap .navigation .navigation-content .navigation-sub-header {
        -webkit-transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
        -moz-transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
        -ms-transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
        -o-transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
        transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
        padding: 0px 16px;
        padding: 0rem 1.142857rem;
        height: 48px;
        height: 3.428571rem;
        font-size: 14px;
        font-size: 1rem;
        line-height: 48px;
        line-height: 3.428571rem;
        -webkit-tap-highlight-color: transparent;
        font-weight: 500;
        color: #FFFF00;
        text-decoration: none;
        position: relative;
        cursor: default;
        display: block;
        width: 100%; }
      .page-wrap .navigation .navigation-content .navigation-item {
        -webkit-transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
        -moz-transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
        -ms-transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
        -o-transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
        transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
        padding: 0px 16px;
        padding: 0rem 1.142857rem;
        height: 48px;
        height: 3.428571rem;
        font-size: 16px;
        font-size: 1.142857rem;
        line-height: 48px;
        line-height: 3.428571rem;
        -webkit-tap-highlight-color: transparent;
        font-weight: 400;
        color: white;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        display: block;
        width: 100%; }
        .page-wrap .navigation .navigation-content .navigation-item:hover {
          background-color: rgba(255, 255, 255, 0.12); }
        .page-wrap .navigation .navigation-content .navigation-item:active {
          background-color: rgba(255, 255, 255, 0.18); }
