@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@mixin border-radius($radius: 2) {
    $output: #{strip-unit($radius)}px;

    -webkit-border-radius: $output;
    border-radius: $output;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
