@font-face {
    font-family: AndyBold;
    src: url('#{$dir-font}/AndyBold/AndyBold.woff2') format('woff2'),
         url('#{$dir-font}/AndyBold/AndyBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}