* {
    box-sizing: border-box;
}

body {
    background: url('#{$dir-image}/common/background.png') repeat;
    font-weight: $font-weight-regular;
    color: $color-text;
    font-size: 14px;
    line-height: 20px;
    min-height: 100%;
    margin: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

canvas {
    display: block;
}

a {
    color: $color-text;
}

b {
    font-weight: $font-weight-medium;
}

strong {
    font-weight: $font-weight-bold;
}